h1{
	color: blue;
}

.reloj{
	position: relative;
	background: grey;
	width: 400px;
	height: 400px;
	border: 2px solid black;
	border-radius: 100%;
}

.centro{
	position: absolute;
	left: 200px;
	top: 200px;
	width: 3px;
	height: 3px;
	border: 2px solid red;
}

.hora{
	position: absolute;
	top: -210px;
	left: -10px;
	color: yellow;
	font-size: 40px;
	height: 416px;
	width: 10px;


	$grado: 30;
	@for $i from 1 through 12{
		&.h#{$i}{
			transform: rotate(0+$grado+deg);
		}
	$grado: $grado+30;
	}
}

#segundo{
	position: absolute;
	top: -190px;
	left: 0;
	height: 380px;
	width: 2px;
}	
 
 #segs{
 	position: absolute;
	top: 0;
	left: 0;
	height: 180px;
	width: 2px;
	border: 3px solid black;
 }

 #rel_digital{
 	font-size: 40px;
 	color: blue;
 }